 main{
    height: 100dvh;
}

.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.container{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 100px);
    gap: 15px;
    grid-template-areas: " a a a a a a a a a a a a"
    " b b b b b b c c c c c c "
    " d d d d e e e e f f f f"
    " g g g h h h i i i j j j"
    " k k l l m m n n o o p p "
    " q r s t u v w xi xii z am is";
}

.container > div{
    background-color: aqua;
}

.container div:nth-child(1){
    grid-area: a;

}
.container div:nth-child(2){
    grid-area: b;

}
.container div:nth-child(3){
    grid-area: c ;

}

.container div:nth-child(4){
    grid-area: d;

}

.container div:nth-child(5){
    grid-area: e;

}

.container div:nth-child(6){
    grid-area: f;

}

.container div:nth-child(7){
    grid-area: g;

}

.container div:nth-child(8){
    grid-area: h;

}

.container div:nth-child(9){
    grid-area: i;

}

.container div:nth-child(10){
    grid-area: j;

}

.container div:nth-child(11){
    grid-area: k;

}

.container div:nth-child(12){
    grid-area: l;

}

.container div:nth-child(13){
    grid-area: m;

}

.container div:nth-child(14){
    grid-area: n;

}

.container div:nth-child(15){
    grid-area: o;

}

.container div:nth-child(16){
    grid-area: p;

}

.container div:nth-child(17){
    grid-area: q;
    

}

.container div:nth-child(18){
    grid-area: r;

}

.container div:nth-child(19){
    grid-area: s;

}

.container div:nth-child(20){
    grid-area: t;

}

.container div:nth-child(21){
    grid-area: u;

}

.container div:nth-child(22){
    grid-area: v ;

}
.container div:nth-child(23){
    grid-area: w;

}
.container div:nth-child(24){
    grid-area: xi;

}

.container div:nth-child(25){
    grid-area: xii;

}
.container div:nth-child(26){
    grid-area: z;

}.container div:nth-child(27){
    grid-area: am;

}.container div:nth-child(28){
    grid-area: is;

}